* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/*----- nav -----*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li,
a {
    color: black;
}

.profile-image {
    border-radius: var(--border-radius-small);
    width: 32px;
    height: 32px;
    object-fit: cover;
}

